header img{
    max-width: 400px;
    padding: 18px;
}

header, nav {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a5e57;
    border-radius: 8px;
}

nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    list-style: none;
}

nav ul a{
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
    text-decoration-color: transparent;
    text-decoration-thickness: 3px;
    flex: 1;
    text-align: center;
}

nav ul a:hover{
    text-decoration-color: #FFF;
}